---
layout: home
---

<div class="home">
  <div class="wrapper">
    <h3>
      Estamos começando e precisamos de pessoas interessadas em ajudar,
      qualquer ajuda é bem-vinda, principalmente se você for um
      <strong>desenvolvedor</strong>, <strong>jornalista</strong>,
      <strong>advogado</strong> ou uma <strong>empresa parceira.</strong><br />
      Mande email para <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </h3>
  </div>
</div>

<div class="sources">
  <div class="wrapper">
    <h4>Fontes de Dados</h4>
    <ul>
      {% for source in site.sources %}
      <li>
      <a href="{{ source.link }}" rel="nofollow">
        <span class="image"><img alt="" src="{{ source.image }}"/></span>
        <span>{{ source.name }}</span>
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class="partners">
  <div class="wrapper">
    <h4>Parceiros</h4>
    <ul>
      {% for partner in site.partners %}
      <li>
      <a href="{{ partner.link }}" rel="nofollow">
        <span class="image"><img alt="" src="{{ partner.image }}"/></span>
        <span>{{ partner.name }}</span>
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


