<footer class="site-footer">
<div class="wrapper">
  <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  <ul>
    <li><a href="http://explore.databr.io">Explore</a></li>
    <li><a href="http://databr.io/documentation">Documentação</a></li>
    <li><a href="http://github.com/databr">Github</a></li>
    <li><a href="http://twitter.com/databr_api">@databr_api</a></li>
  </ul>
  <div></div>
  <p class="text">{{ site.description }}</p>

  <h2 class="footer-heading">
    <a href="/" class="logo" ><span>data</span><span>br</span></a>
  </h2>
</div>
</footer>
