<footer class="site-footer">
<div class="wrapper">
  <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  <ul>
    <li><a href="http://explore.databr.io">Explore</a></li>
    <li><a href="http://databr.io/documentation">Documentação</a></li>
    <li><a href="http://github.com/databr">Github</a></li>
    <li><a href="http://twitter.com/databr_api">@databr_api</a></li>
  </ul>
  <div></div>
  <p class="text">{{ site.description }}</p>

  <h2 class="footer-heading">
    <a href="/" class="logo" ><span>data</span><span>br</span></a>
  </h2>
</div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55572831-1', 'auto');
  ga('send', 'pageview');
</script>
