<header class="navigation">
<div class="navigation-wrapper">
  <a href="http://databr.io" class="logo">
    <span>data</span><span>br</span>
  </a>
  <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  <div class="nav">
    <ul id="navigation-menu">
      <li class="nav-link more"><a href="javascript:void(0)">Desenvolvedor</a>
        <ul class="submenu">
          <li><a href="http://databr.io/documentation">Documentação</a></li>
          <li><a href="http://explore.databr.io">Explore</a></li>
          <li><a href="http://status.databr.io">API Status</a></li>
        </ul>
      </li>
      <li class="nav-link"><a href="http://databr.io/help">Ajude!</a></li>
      <li class="nav-link"><a href="http://databr.io/about">Sobre</a></li>
      <li class="nav-link"><a href="http://databr.io/contact">Contato</a></li>
    </ul>
  </div>
</div>
</header>
