/**
 * Site header
 */

.logo, a.logo.logo, html body a.logo.logo {
  color: $green;
  background: $yellow;
  font-weight: 900;
  span:last-child {
    color: $blue;
  }
}

html body header .logo.logo.logo {
  font-size: 35px;
  line-height: 1.5;
}

/**
 * INDEX
 */

.cover {
  width: 100%;
  max-width: 100%;
  height: 450px;
  overflow: auto;
  background: url("/images/cover.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFF;
}

.cover h2 {
  text-align: center;
  color: #FFF;
  font-weight: 500;
  text-shadow: 1px 1px 2px #000;
  font-size: 40px;
  margin-top: 30%;
  @include media-query($on-tablet) {
    margin-top: 10%;
    font-size: 60px;
  }
}

.home {
  margin: 30px 0;
}

.home h3 {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: #F7F7F7;
}

.site-footer  div {
  clear: both
}

.site-footer a {
  color: #333;
}

.footer-heading {
  margin: 0;
  a {
    font-size: 18px;
    margin: 0;
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    box-shadow: 0 0 1px #807F7F;
    &, &:hover {
      text-decoration: none;
    }
  }
}

.site-footer .email {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 900;
  float: left;
}

.site-footer .text {
  margin-top: $spacing-unit ;
  font-size: 15px;
  font-weight: 300;
  clear: both;
  overflow: auto;
}

.site-footer ul {
  list-style: none;
  margin: 0;
  float: right;
  li {
    margin: 0 0 0 10px;
    font-size: 15px;
    float: left;
    font-weight: 700;
  }
}

/**
 * Page content
 */
.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * page
 */

.page-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    margin-top: 10px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.sources, .partners {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  h4 {
    font-size: 25px;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    margin: 0 15px 25px 0;
    text-align: center;
  }
  a {
    width: 125px;
    display: block;
  }
  img {
    margin: 0 auto;
    max-width: 125px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    max-height: 125px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  span {
    display: block;
    font-weight: 700;
    color: #000;
  }
  span.image {
    height: 125px;
    border-radius: 5px;
    border: 1px solid $grey-color-light;
    transform-style: preserve-3d;
    background: #FFF;
  }
}

.sources {
  background: lighten($blue, 55%);
}

.button.request {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  padding: 15px 50px;
  background: $blue;
  border: 1px solid #333;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  width: 95%;
  max-width: 400px;
  font-weight: 500;
  &:hover {
    background: lighten($blue, 9%);
    text-decoration: none;
  }
}
