<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <section class="cover cd-intro">
      <h2 class="cd-headline rotate-1">
        <span>Qual sua idéia para melhorar</span>
        <span class="cd-words-wrapper">
          <b class="is-visible">seu bairro?</b>
          <b>sua cidade?</b>
          <b>seu pais?</b>
        </span>
      </h2>
    </section>

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>

